.custom-box{
    background-color: rgb(137, 137, 180);  
    padding: 25px;
    text-align: center;
    margin: 10px;
    color: white;
    border-radius: 1em;
 
}


  /* *{
    border: 2px solid red;
}   */
/* .welcome-card {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
} */
/* .iii{
    max-width: 150px;
     margin: 20px auto;
} */
.h-nav{
    margin-left: 7em;
}